body{
	width: 100%;
	margin: 0px 0px;
}
.container{
	margin: 0px 0px;
}
.menu{
	width: 100%;
	height: 80px;
	background-color: #1B5589FF;
	background-image: url(../img/log1.png);
	background-repeat: no-repeat;
	background-position: 30px 5px;
}
.menu ul {
	margin: 0px 0px;
	list-style-type: none;
	position: relative;
	top: 25px;
	left: 90px;
}
.menu ul a{
	display: inline-block;
	text-decoration: none;
	font-family: "Arial";
	font-size: 20px;
	color: #7295B5FF;
}
.menu ul a li{
	padding: 0px 10px;
}
.menu > a:nth-child(2){
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	top: -15px;
	left: 92%;
}
.container h1{
	position: relative;
	width: 100%;
	text-align: center;
	letter-spacing: 3px;
	font-size: 36px;
	font-family: "Corbel";
	color: #686273FF;
}
.block{
	display: grid;
	grid-template-columns: 256px 3fr 3fr;
	grid-template-rows:15% auto;
	position: relative;
	width: 80%;
	height: 500px;
	left: 10%;
}
.b1{
	display: inline-grid;
	grid-template-columns: 256px 3fr 3fr;
	grid-column: 1/4;
	grid-row: 1/2;
	background-color: #CCE5FFFF;
	border-radius: 10px
}
.b1 > p{
	display: inline-grid;
	font-family: "Corbel";
	font-size: 30px;
	text-align: center;
	margin: 15px 0px;
	color: #465D89FF;
}
.b1 > p:nth-child(1){
grid-column: 1/2;
grid-row: 1/2;
}
.b1 > p:nth-child(2){
grid-column: 2/3;
grid-row: 1/2;
}
.b1 > p:nth-child(3){
grid-column: 3/3;
grid-row: 1/2;
}
.b2 button{
	position: relative;
	top: 0px;
	left: 0px;
	width: 256px;
	height: 65px;
	background-color: #6C757DFF;
	border-style: none;
	border-radius: 10px;
	font-family: "Corbel";
	font-size: 25px;
	color: #ffffff;
}
.b3{
	display: grid;
}
.b3 form{
	display: grid;
	grid-template-rows:repeat(7, 3fr);
}
.b3 form input{
	position: relative;
	left:10%;
	top:15%;
	width: 80%;
	height: 35px;
	font-size: 20px;
	border: solid 1px;
	border-color: #BDBDBDFF;
}
.b3 button{
	position: relative;
	top: 15%;
	left: 10%;
	width: 80%;
	height: 40px;
	background-color: #6C757DFF;
	border-style: none;
	border-radius: 10px;
	font-family: "Corbel";
	font-size: 25px;
	color: #ffffff;
}
.b4{
	display: grid;
}
.b4 form{
	display: grid;
	grid-template-rows:repeat(7, 3fr);
}
.b4 form input{
	position: relative;
	left:10%;
	top:15%;
	width: 80%;
	height: 35px;
	font-size: 20px;
	border: solid 1px;
	border-color: #BDBDBDFF;
}
.b4 button{
	position: relative;
	top: 15%;
	left: 10%;
	width: 80%;
	height: 40px;
	background-color: #6C757DFF;
	border-style: none;
	border-radius: 10px;
	font-family: "Corbel";
	font-size: 25px;
	color: #ffffff;
}
.menu > ul a:hover{
	color: #D2DFE9FF;
}
form input:hover{
	background-color: #F4F4F4FF;
	cursor: pointer;
}
input:focus{
	background-color: #F4F4F4FF;
}
button:hover{
	background-color: #555C62FF;
}